.contCard {
  animation: whiteCards infinite 5s linear;
}

@keyframes whiteCards {
  50% {
    box-shadow: 10px 10px 30px #AC020C;
  }
}
.riderM a .img-fluid {
  animation: bikeImage infinite 10s linear;
}

@keyframes bikeImage {
  0% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}