@media screen and (max-width: 1150px) {
  .main-container .body-wrapper {
    flex-wrap: wrap;
  }
  .main-container .body-wrapper .body-left {
    width: 260px;
    margin: auto;
  }
  .main-container .body-wrapper .body-right {
    margin: 50px auto 0;
  }
}