

// color
$var-danger: #AC020C;
$var-danger2: #D60D0D;
$var-locationPage: #CE020F;
$var-pink: #F5CFCF;
$var-pinkBg: #FFE4E6;
$var-backGround: #F5F5F5;
$var-cardBg:  rgba(24, 9, 12, 0.8);
$var-footerBg: #F2F2F2;
$var-footerColor: #666666;