@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./partials/variables";

$font-family: 'Rubik', sans-serif;

*{
    font-family: $font-family;
}

header{
        .NAVV{
            z-index: 10;
                        height: 5.8rem;
                        .imgLogo{
                            width: 2.6rem;
                        }
            .heroHeader{ 
                        .nav-link{
                            font-size: 1.2rem;
                            color: black;
                            .bi{
                                font-size: 0.8rem;
                            }
                        }

                    .buttons{
                        .btn-outline-dark{
                            padding: 1rem 3rem;
                        }
                        .btn-danger{
                            border: 1px solid black;
                            padding: 1rem 3rem;
                            }
                        }
                    }
            }
}



@media (max-width:1398px){
    .nav-link{
            white-space: nowrap;
            color: $var-danger !important;
            padding-left: 1rem !important;
            width: 100%;
            font-size: 1rem !important;
    }


    .buttons{
        white-space: nowrap;
        transform: translateX(-3rem);
        padding: 2rem !important;
    }
}

@media (max-width:1215px){
    .nav-link{
            font-size: .8rem !important;
    }
}


@media (max-width: 1199px){
    .NAVV{
        .container{
            display: flex;
            justify-content: center !important;
        }
    }
}
@media (max-width: 991px){
    .NAVV{
        .container{
            display: flex;
            justify-content: space-between !important;
        }
    }
}


@media (max-width: 990px){
    .heroHeader{
        background-color: $var-pink !important;
}
}

@media (max-width: 349px){
    .heroHeader{
        background-color: $var-pink !important;
        width: 100%;
        .nav-link{
            font-size: 1rem !important;
        }
}
}

